/**=================================================================
 * Variables
 =================================================================*/
:root{
	--brand-color-grey: #6A6B6D;
	--brand-color-yellow: #EBE944;
	
	--background-color-white: #ffffff;
	--background-color-lightyellow: #FFF9C7;
	--background-color-brightyellow: #fdfa00;
	--background-color-yellow: #EBE944;
	--background-color-orange: rgba(255, 160, 8, 0.9);
	--background-color-grey: #6A6B6D;
	--background-color-black: black;
	--background-color-lightgrey: #eee;
	--background-color-green: #28a745;
	--background-color-softgreen: #d4edda;
	--background-color-softred: #f8d7da;
	--background-color-red: #842029;
	
	--border-color-white: #ffffff;
	--border-color-yellow: #EBE944;
	--border-color-orange: rgba(255, 160, 8, 1);
	--border-color-grey: #6A6B6D;
	--border-color-lightgrey: #ccc;
	--border-color-green: #28a745;
	--border-color-softgreen: #c3e6cb;
	--border-color-softred: #f5c6cb;
	
	--font-color-black: #0d0d0d;
	--font-color-lightgrey: #eee;
	--font-color-faintgrey: #BDBDBD;
	--font-color-grey: #595959;
	--font-color-white: #ffffff;
	--font-color-red: #c1040e; /*#842029 bootstrap alert */
	--font-color-green: #155724;
	
	--font-size-body-large: 20px;
	--font-size-body-medium: 16px;
	
	--border-width-main: 1px;
	
	--time-button-movement: 0.3s;
}

/**=================================================================
 * Settings
 =================================================================*/
body {
	font-family: Cabin, Helvetica, Verdana, sans-serif;
	font-size: var(--font-size-body-medium);
	color:var(--font-color-black);
}
h1, h2, h3, h4, h5, h6, p {
	padding:0;
	margin:0;
}
ul, ol, dl {
	padding-left:0; 
	margin-left:0;
	margin-bottom:0;
	list-style:none; 
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
a {
	text-decoration:none;
}
select {
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    line-height: 1.5;
    background-image: url(../images/select_down.svg);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	margin-bottom:5px;;
}
select:focus{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}
input[type=text],
input[type=number] {
    padding: .375rem .75rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	margin-bottom:5px;;
}
input[type=text]:focus,
input[type=number]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

/**=================================================================
 * Spacing
 =================================================================*/
.mb-10 {
	margin-bottom: 10px !important;
}
.pb-10 {
	padding-bottom: 10px !important;
}

/**=================================================================
 * Loader
 =================================================================*/
.page_loader {
	position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
}
.page_loader img{
	position: absolute;
    top: 50%;
    left: 50%;
}

/**=================================================================
 * button
 =================================================================*/
.flag_button {
	width:132px;
	padding: 6px 10px;
	border: none;
	border-radius: 8px;
	background:var(--background-color-white);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	font-weight:bold;
	transition:all var(--time-button-movement) ease;
}
.flag_button img {
	width:40px;
	margin-right: 10px;
}
.flag_button:hover{
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.primary_button {
	padding: 6px 20px;
	border: none;
	border-radius: 8px;
	background:var(--background-color-yellow);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	font-weight:bold;
	transition:all var(--time-button-movement) ease;
	user-select: none;
}
.primary_button:hover{
	background:var(--background-color-brightyellow);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.secondary_button {
	padding: 6px 20px;
	border: none;
	border-radius: 8px;
	background:var(--background-color-white);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	font-weight:bold;
	transition:all var(--time-button-movement) ease;
	user-select: none;
}
.secondary_button:hover{
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

/**=================================================================
 * Measurement Inputs (in measurement_inputs.php, elements.php, step_info.php)
 =================================================================*/
input.unit_input_cm,
input.unit_input_mm,
input.unit_input_inches,
select.unit_input_inch_fractions,
span.unit_input_label_cm,
span.unit_input_label_mm,
span.unit_input_label_metres,
span.unit_input_label_inches {
	display:none;
}
input.unit_input_cm.active,
input.unit_input_mm.active,
input.unit_input_inches.active,
select.unit_input_inch_fractions.active,
span.unit_input_label_cm.active,
span.unit_input_label_mm.active,
span.unit_input_label_metres.active,
span.unit_input_label_inches.active {
	display:inline-block;
}
input.unit_input_cm {
	width:80px;
}
input.unit_input_mm {
	width:120px;
}
input.unit_input_inches {
	width:66px;
}
input.unit_input_degrees {
	width:66px;
}
label.checkbox_label {
	display: flex;
    align-items: center;
    gap: 10px;
}
label.checkbox_label input[type=checkbox] {
	width: 20px;
    height: 20px;
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid var(--border-color-grey);
	background-color: var(--background-color-white);
	border-radius: 5px;
}
label.checkbox_label input[type=checkbox]:checked {
	background-color: var(--background-color-yellow);
}
label.checkbox_label input[type=checkbox]:checked::after {
     content: '\2714'; /* Checkmark symbol */
     color: var(--font-color-black);
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     top: -3px;
}

label.radio_label {
	display: grid;
    align-items: center;
    gap: 10px;
	grid-template-columns: 20px 1fr;
}
label.radio_label input[type=radio] {
	width: 20px;
    height: 20px;
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid var(--border-color-grey);
	background-color: var(--background-color-white);
    border-radius: 50%;
}
label.radio_label.align_top{
	align-items:start;
}
/*
label.radio_label span{
	max-width: calc(100% - 40px);
}
*/
label.radio_label input[type=radio]:checked {
	background-color: var(--background-color-yellow);
}
label.radio_label input[type=radio]:checked::after {
     content: '\2714'; /* Checkmark symbol */
     color: var(--font-color-black);
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     top: -3px;
}

/**=================================================================
 * Modals
 =================================================================*/
.modal.success_modal .modal-header svg{
	color: var(--font-color-green);
}
.modal.success_modal .modal-content {
	border: 3px solid var(--border-color-softgreen);
    background: var(--background-color-softgreen);
}
.modal.error_modal .modal-header svg{
	color: var(--font-color-red);
}
.modal.error_modal .modal-content {
	border: 3px solid var(--border-color-softred);
    background: var(--background-color-softred);
}
.modal.help_modal p {
	margin-bottom:20px;
}
.modal-body-free-text h5 {
	font-size:var(--font-size-body-medium);
	margin-bottom:15px;
	display: flex;
    gap: 5px;
    align-items: center;
}
.modal-body-free-text p {
	margin-bottom:15px;
}
.modal-body-free-text ul {
	list-style: disc;
    padding-left: 20px;
	margin-bottom:15px;
}
.modal-body-free-text ol {
	list-style: circle;
    padding-left: 20px;
	margin-bottom:15px;
}


/**=================================================================
 * Common Classes
 =================================================================*/
.hidden {
	display:none !important;
}
.red {
	color: var(--font-color-red);
}

/**=================================================================
 * header
 =================================================================*/
header {
	display:flex;
	justify-content:space-between;
	padding:0px;
	height: 82px;
	align-items: center;
	border-bottom:var(--border-width-main) solid var(--border-color-lightgrey);
}
header .logo {
	display:flex;
	align-items:center;
}
header .logo span {
	font-size:40px;
	font-weight:500;
	color:var(--brand-color-grey);
}
header .logo img {
	width:80px;
	margin-right:20px;
}
header .right_group {
	display:flex;
	gap:20px;
	align-items: center;
}
header .right_group .info{
	display:flex;
	align-items:center;
}
header .languages {
	position:relative;
}
header .languages .flag_button {
	margin-right:30px;
}
header .languages .flag_button .language_label{
	display:none;
}
header .languages .flag_button .language_label.shown{
	display:inline;
}
header .languages .selection {
	display:none;
	position:absolute;
	box-shadow: 0 0 4px grey;
    padding: 10px 0;
    background: white;
    width: 150px;
    right: 10px;
    top: 45px;
	z-index: 100;
}
header .languages .selection.shown {
	display:block;
}
header .languages .selection a {
	display:block;
	padding: 10px;
}
header .languages .selection a:hover {
	background:var(--background-color-lightgrey);
}
header .languages .selection a img{
	width:40px;
	margin-right: 10px;
}
@media (max-width:1199px){
	header .logo span {
		font-size:25px;
	}
}

/**=================================================================
 * .structure
 =================================================================*/
.structure {
	display:grid;
	width:100%;
	height:calc(100vh - 82px);
	grid-template-columns: 400px 1fr;
}
.structure .sidebarLeft {
	height: 100%;
    overflow-y: auto;
	border-right:var(--border-width-main) solid var(--border-color-lightgrey);
	background:var(--background-color-lightgrey);
}

.structure .mainArea {
	height: 100%;
	background:var(--background-color-lightyellow);
}

@media (max-width:1199px){
	.structure {
		grid-template-columns: 280px 1fr;
	}
}

/**=================================================================
 * .element_wrap
 =================================================================*/
.element_wrap {
	display:none;
	
}
.element_wrap.shown {
	display:block;
}
.element_wrap .heading {
	text-align:center;
	padding:5px 0 5px;
}
.element_wrap .heading img {
	height:60px;
	margin-bottom:2px;
	border-radius: 10px;
	background: white;
}
.element_wrap .heading p{
	font-size: var(--font-size-body-large);
}
.element_wrap .buttons_wrap li{
	float:left;
	width:50%;
	border-bottom:1px solid var(--border-color-white);
	border-right:1px solid var(--border-color-white);
}
.element_wrap .buttons_wrap li.third{
	width:33.33%;
}
.element_wrap .buttons_wrap li:nth-child(3),
.element_wrap .buttons_wrap li:nth-child(5),
.element_wrap .buttons_wrap li:nth-child(7){
	border-right:0;
}
.element_wrap .buttons_wrap li:nth-child(6){
	border-bottom:0;
}
.element_wrap .buttons_wrap li:nth-child(7){
	border-bottom:0;
}
.element_wrap .buttons_wrap li .selection_button{
	width:100%;
	border:0;
	padding:5px 0;
	text-align:center;
	background:var(--background-color-yellow);
	color:var(--font-color-black);
	transition:all var(--time-button-movement) ease;
}
.element_wrap .buttons_wrap li .selection_button:hover,
.element_wrap .buttons_wrap li .selection_button.active
{
	background:var(--background-color-brightyellow);
    transform: translateY(-8px);
}
.element_wrap .buttons_wrap li .selection_button:disabled{
	color: var(--font-color-lightgrey);
	background:var(--background-color-grey);
	opacity:0.5;
	box-shadow: 0;
	cursor: not-allowed;
}
.element_wrap .buttons_wrap li .selection_button:disabled:hover{
	transform: none;
}
.element_wrap .buttons_wrap li .selection_button.danger {
	color:var(--font-color-red);
	background:var(--background-color-softred);
}
.element_wrap .buttons_wrap li .selection_button.inactive{
	background:var(--background-color-black);
	color:var(--font-color-faintgrey);
}
.element_wrap .buttons_wrap li .selection_button .icon{
	display:block;
}
.element_wrap .buttons_wrap li .selection_button .icon .hide_icon{
	display:none;
}
.element_wrap .buttons_wrap li .selection_button .icon.shown,
.element_wrap .buttons_wrap li .selection_button .icon .hide_icon.shown{
	display:inline;
}
.element_wrap .buttons_wrap li .selection_button .icon.hidden{
	display:none;
}

@media (max-width:1199px){
	.element_wrap .buttons_wrap li.third{
		width:50%;
	}
	.element_wrap .buttons_wrap li:nth-child(3),
	.element_wrap .buttons_wrap li:nth-child(5),
	.element_wrap .buttons_wrap li:nth-child(7){
		border-right:1px solid var(--border-color-white);;
	}
	.element_wrap .buttons_wrap li:nth-child(6){
		border-bottom:1px solid var(--border-color-white);;
	}
	.element_wrap .buttons_wrap li:nth-child(7){
		border-bottom:1px solid var(--border-color-white);;
	}
}

/**=================================================================
 * .element_wrap .mainWrap
 =================================================================*/
.element_wrap .mainWrap {
	padding:10px;
}

/**=================================================================
 * .element_wrap .mainWrap .area
 =================================================================*/
.element_wrap .area {
	display:none;
	padding:10px 0;
}
.element_wrap .area.shown {
	display:block;
}
.element_wrap .area .input_group {
	display:none;
	margin-bottom:10px;
}
.element_wrap .area .input_group.shown {
	display:block;
}
.element_wrap .area .input_group .button_wrap{
	margin-top:10px;
}
.element_wrap .area .input_group .sucess {
	display:none;
	margin-top:10px;
	color:var(--font-color-green);
}
.element_wrap .area .input_group .warning {
	display:none;
	margin-top:10px;
	color:var(--font-color-red);
}
.element_wrap .area .input_group .sucess.shown,
.element_wrap .area .input_group .warning.shown {
	display:block;
}
.element_wrap .area .input_group .white_text{
	padding: 20px;
    background: var(--background-color-white);
    border-radius: 10px;
    margin-top: 20px;
}
.element_wrap .area .input_group .white_text h5 {
	font-size:var(--font-size-body-medium);
	margin-bottom:15px;
	display: flex;
    gap: 5px;
    align-items: center;
}
.element_wrap .area .input_group .white_text p {
	margin-bottom:15px;
}
.element_wrap .area .input_group .white_text ul {
	list-style: disc;
    padding-left: 20px;
	margin-bottom:15px;
}
.element_wrap .area .input_group .white_text ol {
	list-style: circle;
    padding-left: 20px;
	margin-bottom:15px;
}
.element_wrap .area .input_group.information p {
	margin-bottom:20px;
}
.element_wrap .area .input_group.info_prompt p {
	margin-bottom:20px;
}
.element_wrap .area .input_group.info_prompt .legend_img_wrapper_wrap {
	overflow-x:hidden;
	overflow-y:hidden;
}
.element_wrap .area .input_group.info_prompt .legend_img_wrapper {
	display: block;
	transform: rotate(0deg);
}
.element_wrap .area .input_group.info_prompt img {
	max-width: 75%;
    display: block;
    margin: 0 auto;
}
.element_wrap .area .input_group.info_prompt img.column {
	width:150px;
}
.element_wrap .area .input_group.info_prompt img.mass_timber_wall {
	width:200px;
}
.element_wrap .area .apply_button_wrap {
	padding:15px 0;
}
.element_wrap .area .apply_button_wrap button {
	float:right;
}
.element_wrap .area .encapsulation_edit_wrap {
	padding: 10px 8px;
    background: var(--background-color-green);
	font-weight: bold;
}

.element_wrap .area .input_group .calculation_results {
	list-style-type: disc;
    padding-left: 20px;
}
.element_wrap .area .input_group .calculation_results li {
	margin-bottom:10px;
}

.element_wrap .area .objects_list {
	display:flex;
	flex-wrap:wrap;
	gap:20px 10px;
}
.element_wrap .area .objects_list .object {
	display:none;
	flex:0 1 calc(50% - 10px);
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.element_wrap .area .objects_list .object.shown{
	display:flex;
}
.element_wrap .area .objects_list .object button {
	text-align:center;
	border: 0;
    padding: 10px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	transition:all var(--time-button-movement) ease;
}
.element_wrap .area .objects_list .object button:hover{
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.element_wrap .area .objects_list .object button img {
	max-width:140px;
	max-height:70px;
	border-radius:5px;
}
.element_wrap .area table th,
.element_wrap .area table td{
	text-align:center;
}
.element_wrap .area.area_list_objects table{
	width:100%;
}
.element_wrap .area.area_list_objects table th,
.element_wrap .area.area_list_objects table td{
	text-align: left;
    padding: 5px;
    border: 3px solid white;
}


/**=================================================================
 * .element_wrap .mainWrap .navigation
 =================================================================*/
.navigation {
	height:95px;
	position:relative;
	background: var(--background-color-white);
	border-bottom:var(--border-width-main) solid var(--border-color-lightgrey);
}
.navigation .steps {
	width:1000px;
	padding:5px 0 5px;
	margin:0px auto;
}
.navigation .steps li{
	float:left;
	width:200px;
	text-align:center;
}
.navigation .steps li.connector{
	width:160px;
}
.navigation .steps li.label{
	margin-left:-80px;
}
.navigation .steps li.label:first-of-type{
	margin-left:0;
}
.navigation .steps li.label a:hover{
	text-decoration:underline;
}
.navigation .steps li .circle_wrap {
	width:100%;
}
.navigation .steps li .circle_wrap .circle_outer {
	width:40px;
	height:40px;
	display:block;
	margin:0 auto;
	border:1px solid var(--border-color-lightgrey);
	background:var(--background-color-white);
	border-radius:50%;
	position:relative;
}
.navigation .steps li.available .circle_wrap .circle_outer {
	border:1px solid var(--border-color-orange);
}
.navigation .steps li.active .circle_wrap .circle_outer {
	border:1px solid var(--border-color-green);
}
.navigation .steps li .circle_wrap .circle_outer .circle_inner{
	width:26px;
	height:26px;
	display:block;
	background:var(--background-color-lightgrey);
	border-radius:50%;
	position:absolute;
	left:6px;
	top:6px;
}
.navigation .steps li.available .circle_wrap .circle_outer .circle_inner{
	background:var(--background-color-orange);
}
.navigation .steps li.active .circle_wrap .circle_outer .circle_inner{
	background:var(--background-color-green);
}
.navigation .steps li.label {
	user-select: none;
}
.navigation .steps li.label a{
	opacity:0.5;
}
.navigation .steps li.label.available a, .navigation .steps li.label.active a{
	opacity:1;
}

.navigation .steps li.connector {
	height: 3px;
    margin-left: -80px;
    background: var(--background-color-lightgrey);
    margin-top: 20px;
}
.navigation .steps li.connector.available {
	background:var(--background-color-yellow);
}
.navigation .nav_previous {
	position:absolute;
	left:10px;
	top:20px;
}
.navigation .nav_next {
	position:absolute;
	right:10px;
	top:20px;
}

@media (min-width:1200px) and (max-width:1399px){
	.navigation .nav_previous {
		top:70px;
	}
	.navigation .nav_next {
		top:70px;
	}
	.navigation .steps {
		width:785px;
	}
	.navigation .steps li{
		width:170px;	
	}
	.navigation .steps li.connector {
		width:140px;
	}
}
@media (max-width:1199px){
	.navigation .nav_previous {
		top:70px;
	}
	.navigation .nav_next {
		top:70px;
	}
	.navigation .steps {
		width:695px;
	}
	.navigation .steps li{
		width:162px;	
	}
	.navigation .steps li.connector {
		width:130px;
	}
}

/**=================================================================
 * .element_wrap .mainWrap .app
 =================================================================*/
.app {
	position:relative;
}
.app .appArea {
	display:none;
}
.app .appArea.shown {
	display:block;
}
.app .hint{
	width: 100%;
    text-align: center;
    color: var(--font-color-grey);
    padding-top: 10px;
}
.app .hint p {
	user-select: none;
}
.app .buttons_wrap {
	position: absolute;
    right: 10px;
    top: 10px;
    width: 140px;
    text-align: center;
    user-select: none;
}
.app .buttons_wrap .floating_button {
	margin-bottom:20px;
	padding-right:10px;
	padding-left:10px;
}
.app .buttons_wrap .floating_button.active {
	background: var(--background-color-yellow);
}
.app .buttons_wrap .floating_button img{
	width:80px;
	display:block;
	border-radius:10px;
}
.app .zoom_wrap {
	position:absolute;
	right:10px;
	bottom:10px;
	width: 50px;
    text-align: center;
	user-select: none;
}
.app .zoom_wrap button:first-of-type {
	margin-bottom:10px;
}
.app .zoom_wrap span {
	display:block;
	margin-bottom:10px;
}
.app .appArea {
	width:100%;
	height: calc(100vh - 96px - 83px);
    overflow-y: auto;
}
@media (min-width:1200px) and (max-width:1399px){
	.app .appArea.step_info {
		padding:20px 20px;
	}
}
@media (max-width:1199px){
	.app .appArea.step_info {
		padding:20px 20px;
	}
}
@media (max-height:750px){
	.app .buttons_wrap .floating_button {
		width:100px;
		font-weight:normal;
	}
	.app .buttons_wrap .floating_button img {
		display:none;
	}
	.app .buttons_wrap .floating_button svg{
		display:none;
	}
}
/**=================================================================
 * .element_wrap .mainWrap .app .appArea.step_info (Step 1)
 =================================================================*/
.app .appArea.step_info {
	padding:30px 60px;
	text-align:center;
}
.app .appArea.step_info .intro {
	margin:20px 0;
}
.app .appArea.step_info .intro p {
	text-align:justify;
}
.app .appArea.step_info h4 {
	margin-bottom:30px;
}
.app .appArea.step_info .question {
	margin-bottom:30px;
	padding: 0 25%;
}
.app .appArea.step_info .question p {
	margin-bottom:10px;
}
.app .appArea.step_info .question .choices {
	display:flex;
	justify-content:space-between;
	align-items:center;
	max-width:370px;
	margin:0 auto;
}
@media (min-width:1200px) and (max-width:1399px){
	.app .appArea.step_info .question {
		padding:0;
	}
}
@media (max-width:1199px){
	.app .appArea.step_info .question {
		padding:0;
	}
}

/**=================================================================
 * .element_wrap .mainWrap .app .appArea.step_2d (Step 2-3)
 =================================================================*/
.app .appArea.step_2d {
	background: var(--background-color-white);
	overflow-y:hidden;
	overflow-x:hidden;
	position: relative;
}
.app .appArea.step_2d button.bottom_button{
	position:absolute;
	bottom:20px;
	left: calc(50% - 45px);
	user-select: none;
}
.app .appArea.step_2d canvas{
	position:absolute;
	top:0;
	left:0;
	cursor: crosshair;
}
.app .appArea.step_2d canvas.pointer{
	cursor: pointer;
}
.app .appArea.step_2d canvas.grab{
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.app .appArea.step_2d canvas.grabbing{
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.app .appArea.step_2d canvas.e-resize{
	cursor: e-resize;
}
.app .appArea.step_2d canvas.nw-resize{
	cursor: nw-resize;
}
.app .appArea.step_2d canvas.n-resize{
	cursor: n-resize;
}
.app .appArea.step_2d canvas.ne-resize{
	cursor: ne-resize;
}
.app .appArea.step_2d canvas.all-scroll{
	cursor: all-scroll;
}


/**=================================================================
 * .element_wrap .mainWrap .app .appArea.step_3d (Step 4)
 =================================================================*/
.app .appArea.step_3d {
	overflow-y:hidden;
	overflow-x:hidden;
}
.app .appArea.step_3d .bottom_buttons {
	position:absolute;
	bottom:20px;
	left: calc(50% - 115px);
	display:grid;
	grid-template-columns:1fr 1fr;
	gap: 0 20px;
}
.app .appArea.step_3d .bottom_button {
	user-select: none;
	
}

/**=================================================================
 * .element_wrap .mainWrap .app .appArea.step_output (Step 5)
 =================================================================*/
.app .appArea.step_output {
	overflow-x:hidden;
	background: white;
    padding: 30px 50px;
}
.app .appArea.step_output h2 {
	text-align:center;
	margin-bottom:20px;
}
.app .appArea.step_output h3 {
	text-align:center;
	margin-bottom:20px;
	font-size:20px;
}
.app .appArea.step_output .added_notes {
	text-align:center;
	margin-bottom:20px;
}
.app .appArea.step_output .print_wrap {
	margin-bottom:20px;
}
.app .appArea.step_output .if_sizes {
	padding: 20px;
    margin-bottom: 40px;
	border-radius: .25rem;
	background:var(--background-color-lightgrey);
}
.app .appArea.step_output .if_sizes h4 {
	text-align: center;
    font-size: 20px;
	margin-bottom:40px;
}
.app .appArea.step_output .above_fire_property_title {
	text-align: center;
    font-size: 20px;
	margin-bottom:40px;
}

.app .appArea.step_output .if_sizes table tr .first {
	width:20%;
}
.app .appArea.step_output .if_sizes table tr .second {
	width:40%;
}
.app .appArea.step_output .if_sizes table tr .third {
	width:40%;
}
.app .appArea.step_output .if_sizes table tr td,
.app .appArea.step_output .if_sizes table tr th {
	padding:15px;
	border:4px solid var(--border-color-white);
}
.app .appArea.step_output .if_sizes table tr td.second.active {
	background: var(--background-color-green);
    color: var(--font-color-white);
}
.app .appArea.step_output .if_sizes table tr td.third.active {
	background: var(--background-color-red);
    color: var(--font-color-white);
}

.app .appArea.step_output .alert {
	margin-bottom:30px;
	display:none;
}
.app .appArea.step_output .alert.shown {
	display:block;
}
.app .appArea.step_output .alert .alert-heading {
	text-align: center;
    margin-bottom: 20px;
}
.app .appArea.step_output .alert .alert-heading .image_wrap{
	margin-bottom:10px;
}
.app .appArea.step_output .alert .alert-body>ul{
	list-style: disc;
    padding-left: 20px;
}
.app .appArea.step_output .alert .alert-body>ul#result_success{
	list-style: none;
    padding-left: 0px;
}
.app .appArea.step_output .alert .alert-body>ul#result_failure{
	list-style: decimal;
}

.app .appArea.step_output .alert .alert-body>ul>li {
	margin-bottom:20px;
}
.app .appArea.step_output .additional_notes {
	display:none;
}
.app .appArea.step_output .additional_notes.shown {
	display:block;
}

.app .appArea.step_output .additional_notes h3 {
	font-size:22px;
	margin-bottom:20px;
	text-align:left;
}
.app .appArea.step_output .additional_notes p{
	margin-bottom:20px;
}

